{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if news %}
       <table>

           {% for post in news %}
           <tr>
               <td>{{ Post.time_of_creation }}
                   {{ Post.post_author}}<br>
                   {{ Post.text}}<br>
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>!
   {% endif %}
{% endblock content %}