{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- Ага, вот зачем файл custom_filters.py -->

{% block title %}Новости{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <p>{{ time_now|date:'d.M.Y' }}</p>
    <hr>
    {% if news %}
        <table>
            <tr><td>Автор</td><td><h2>Заголовок</h2></td><td>Время   </td></tr>
            {% for item in news %}
            <!-- {{ news }} -->
                <tr><td>{{item.post_author.author_user}}</td><td><h3>{{item.header}}</h3></td><td>{{item.time_of_creation}}</td></tr>
                <tr><td colspan="3">{{ item.text|truncatewords:50 }}</td></tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет!</h2>!
    {% endif %}
    {#Теперь займёмся пролистыванием страниц#}
    {% if page_obj.has_previous %}
       &lt;&lt;<a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}&gt;&gt;
   {% endif %}
{% endblock content %}
