{% extends 'posts.html' %}


{% block search %}
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}  <!-- дефолтная автосгенерённая форма, на самописная из пособия-->
        <!--
        {{ filterset.form.non_field_errors }}
        {{ filterset.form.name__icontains.errors }}
            <label for="{{ filterset.form.name__icontains.id_for_label }}">Search</label>
            <input
                id="{{ filterset.form.name__icontains.id }}"
                name="{{ filterset.form.name__icontains.name }}"
                value="{{ filterset.form.name__icontains.value }}"
                class="form-control"
            >-->
        <!-- конец написанной вручную формы -->
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
    <hr>
{% endblock search %}
