{% extends 'flatpages/default.html' %}

{% load custom_filters %}   {# В файле NewsPortal/templatetag/custom_filters.py определён фильтр censor #}
{% load custom_tags %}      {# В файле NewsPortal/templatetag/custom_tags.py определён тэг current_time для времени #}

{% block title %}Новости{% endblock title %}

{# Формы для фильтрации новостей - в разделе D4.2 #}

{% block content %}
    <h1>{{ header }}</h1>
    {#{{ time_now|date:'d M Y' }} добавлено в выдачу класса NewsList(ListView) в view.py через get_context_data() #}
    {# {{ path }} то же, даёт адрес запроса страницы, /news/ или /article/, пригодится для оформления #}
    <p>Сегодня {% current_time '%d %b %Y' %}. На текущей странице {{ posts|length }} сообщения.</p>
    <hr>
{% block search %}
<a href="{{ path }}search/">Ссылка на страницу поиска</a>
{% endblock search %}
    {% if posts %}  {# определено в view.py, class NewsList(ListView):#}
        <table>
            <tr><td>Автор</td><td><h2>Заголовок</h2></td><td>Время   </td></tr>
            {% for item in posts %}
            {# {{item.post_author.author_user.first_name}} {{item.post_author.author_user.last_name}} #}
                <tr><td>{{item.post_author}}</td>
                    <td><h3>{{item.header|truncatechars:20|censor}}</h3></td>
                    <td>{{item.time_of_creation}}</td></tr>
                <tr><td colspan="3">{{ item.text|truncatewords:50|censor }}</td></tr>
            {% endfor %}
        </table>
    {% else %} {# А можно использовать тэг {% empty %}, см. https://django.fun/docs/django/ru/4.0/ref/class-based-views/generic-display/ #}
        <h2>Статей нет!</h2>!
    {% endif %}
    {# Теперь займёмся пролистыванием страниц #}
    {# Информация о предыдущей странице #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}">&lt;&lt;</a>
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% else %}
        &lt;&lt;
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">&gt;&gt;</a>
    {% else %}
        &gt;&gt;
    {% endif %}
{% endblock content %}
